.page {
    height: 100vh;
    display: flex;
}

.nav-btns {
    background-color: brown;
    height: 100%;
    width: 120px;
}

.link{
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul {
    margin: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
}
.ul li {
    
    
}