.d-flex-row{
    display: flex;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.justify-content-around{
    justify-content: space-around;
}

/*************************************************************************************************************************/
.graph {height: 12px; background-color: #222222;border: 1px solid gray;margin-bottom: 12px;}

.html,.css {display: block;height: 12px;width: 90%; line-height: 40px;
    text-align: right; box-sizing: border-box; color: #fff;
    background-color: #FF724C;}
.sql, .database {display: block;height: 12px;width: 85%; line-height: 40px;
    text-align: right; box-sizing: border-box; color: #fff;
    background-color: #FF724C;}
.c, .php {display: block;height: 12px;width: 60%; line-height: 40px;
    text-align: right; box-sizing: border-box; color: #fff;
    background-color: #FF724C;}
.python,.react {display: block;height: 12px;width: 75%; line-height: 40px;
    text-align: right; box-sizing: border-box; color: #fff;
    background-color: #FF724C;}
.java {display: block;height: 12px;width: 70%; line-height: 40px;
    text-align: right; box-sizing: border-box; color: #fff;
    background-color: #FF724C;}







/*************************************************************************************************************************/

.page {
    height: 100vh;
    display: flex;
    background: url("/public/icons/background.jpg") fixed no-repeat;
    background-size: cover;
    font-family: "맑은 고딕 Semilight";
}

.profile {
    height: 180px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5em;
}

.profile img {
    width: 80px;
    padding-top: 20px;
    border-radius: 50%;
}

.nav-btns {
    background-color: #222222;
    height: 100%;
    width: 130px;
}

.link{
    height: 100px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.link:hover {
    border-right: 3px solid #ff724c;
}
.link li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link img {
    padding-top: 20px;
}

.btn-text {
    color: white;

}

.ul {
    margin: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    color: #ff724c;
    font-size: 80px;
    margin: 0;
}

.home p {
    color: navajowhite;
    font-weight: bold;
    font-size: 20px;
}

.common-background {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.common-content {
    background-color: #222222;
    width: 65%;
    /*height: 40%;*/
    padding: 40px 30px;
    border-radius: 10px;
}

.common-content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 3em;
    color: #555555;
    padding-bottom: 50px;
}

#col-1 > div:not(#col-1 > div:last-child){
    margin-right: 20px;
}

#col-1 > div {
    width: 33%;
    display: flex;
    justify-content: center;
}

.mypicture {
    width: 300px;
    border-radius: 20px;
}

.about-2-title {
    font-weight: bold;
    font-size: 1.3em;
    text-decoration-line: underline;
    text-decoration-color: #FF724C;
    text-decoration-thickness: 3px;

}
.about-2 p {
    margin: 0;
    font-size: 1.2em;
}
.about-3 ul{
    margin: 0;
}
.about-3 ul li {
    list-style: none;
}
.p-title {
    text-decoration-line: underline;
    text-decoration-color: #FF724C;
    text-decoration-thickness: 3px;
}
.skill-edu {

}
.skill-edu h2 {
    border-left: 2.5px solid #FF724C;
    padding-left: 10px;
}
.edu-year1 {
    border-left: 1px solid #282828;
}
.edu-year1 h3{
    padding-left: 20px;
}
.edu-year1 p {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 0.7em;
}
.edu-year1 h4{
    background-color: #FF724C;
    width: 40px;
    padding-left: 20px;
}
.coding-skill{
    width: 30%;
}
.coding-skill h4 {
    margin: 0;
    margin-bottom: 5px;
}
.coding-skill h2{
    border-left: 2.5px solid #FF724C;
    padding-left: 10px;
}







